#!/usr/bin/make -f
export DH_VERBOSE = 1
export DH_OPTIONS = -v
# debuild sets some warnings that don't work well
# for our curent build..so try to remove those flags here:
export CFLAGS:=$(subst -Wformat,,$(CFLAGS))
export CFLAGS:=$(subst -Werror=format-security,,$(CFLAGS))
export CXXFLAGS:=$(subst -Wformat,,$(CXXFLAGS))
export CXXFLAGS:=$(subst -Werror=format-security,,$(CXXFLAGS))

%:
	dh $@ --with systemd

override_dh_systemd_start:
	dh_systemd_start --no-restart-on-upgrade

override_dh_auto_configure:
	env
	rm -rf bld

	conan export external/snappy snappy/1.1.9@

	conan install . \
		--install-folder bld/rippled  \
		--build missing \
		--settings build_type=Release

	cmake -DCMAKE_TOOLCHAIN_FILE:FILEPATH=build/generators/conan_toolchain.cmake \
		-G Ninja \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/opt/ripple \
		-Dstatic=ON \
		-Dunity=OFF \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-Dvalidator_keys=ON \
		-B bld/rippled

	conan install . \
		--install-folder bld/rippled-reporting \
		--build missing \
		--settings build_type=Release \
		--settings compiler.cppstd=17 \
		--options reporting=True

	cmake -DCMAKE_TOOLCHAIN_FILE:FILEPATH=build/generators/conan_toolchain.cmake \
		-G Ninja \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/opt/rippled-reporting \
		-Dstatic=ON \
		-Dunity=OFF \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-Dreporting=ON \
		-B bld/rippled-reporting

override_dh_auto_build:
	cmake --build bld/rippled --target rippled --target validator-keys -j${nproc}

	cmake --build bld/rippled-reporting --target rippled -j${nproc}

override_dh_auto_install:
	cmake --install bld/rippled --prefix debian/tmp/opt/ripple
	install -D bld/rippled/validator-keys/validator-keys debian/tmp/opt/ripple/bin/validator-keys
	install -D Builds/containers/shared/update-rippled.sh debian/tmp/opt/ripple/bin/update-rippled.sh
	install -D bin/getRippledInfo debian/tmp/opt/ripple/bin/getRippledInfo
	install -D Builds/containers/shared/update-rippled-cron debian/tmp/opt/ripple/etc/update-rippled-cron
	install -D Builds/containers/shared/rippled-logrotate debian/tmp/etc/logrotate.d/rippled
	rm -rf debian/tmp/opt/ripple/lib64/cmake/date

	mkdir -p debian/tmp/opt/rippled-reporting/etc
	mkdir -p debian/tmp/opt/rippled-reporting/bin
	cp cfg/validators-example.txt debian/tmp/opt/rippled-reporting/etc/validators.txt

	sed -E 's/rippled?/rippled-reporting/g' Builds/containers/shared/update-rippled.sh > debian/tmp/opt/rippled-reporting/bin/update-rippled-reporting.sh
	sed -E 's/rippled?/rippled-reporting/g' bin/getRippledInfo > debian/tmp/opt/rippled-reporting/bin/getRippledReportingInfo
	sed -E 's/rippled?/rippled-reporting/g' Builds/containers/shared/update-rippled-cron > debian/tmp/opt/rippled-reporting/etc/update-rippled-reporting-cron
	sed -E 's/rippled?/rippled-reporting/g' Builds/containers/shared/rippled-logrotate > debian/tmp/etc/logrotate.d/rippled-reporting
