#!/usr/bin/make -f
export DH_VERBOSE = 1
export DH_OPTIONS = -v
# debuild sets some warnings that don't work well
# for our curent build..so try to remove those flags here:
export CFLAGS:=$(subst -Wformat,,$(CFLAGS))
export CFLAGS:=$(subst -Werror=format-security,,$(CFLAGS))
export CXXFLAGS:=$(subst -Wformat,,$(CXXFLAGS))
export CXXFLAGS:=$(subst -Werror=format-security,,$(CXXFLAGS))

%:
	dh $@ --with systemd
override_dh_systemd_start:

override_dh_auto_configure:
	env
	rm -rf bld
	mkdir -p bld
	cd bld && \
	cmake .. -G Ninja \
		-DCMAKE_INSTALL_PREFIX=/opt/ripple \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_UNITY_BUILD_BATCH_SIZE=10 \
		-Dstatic=ON \
		-Dvalidator_keys=ON \
		-DCMAKE_VERBOSE_MAKEFILE=ON

override_dh_auto_build:
	cd bld && \
	cmake --build . --target rippled --target validator-keys --parallel -- -v

override_dh_auto_install:
	cd bld && DESTDIR=../debian/tmp cmake --build . --target install -- -v
	install -D bld/validator-keys/validator-keys debian/tmp/opt/ripple/bin/validator-keys
	install -D Builds/containers/shared/update-rippled.sh debian/tmp/opt/ripple/bin/update-rippled.sh
	install -D bin/getRippledInfo debian/tmp/opt/ripple/bin/getRippledInfo
	install -D Builds/containers/shared/update-rippled-cron debian/tmp/opt/ripple/etc/update-rippled-cron
	install -D Builds/containers/shared/rippled-logrotate debian/tmp/etc/logrotate.d/rippled
	rm -rf debian/tmp/opt/ripple/lib64/cmake/date
	rm -rf bld
	rm -rf bld_vl
