---
Checks: "-*,
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-bitwise-pointer-cast,
  -bugprone-branch-clone,
  -bugprone-command-processor,
  -bugprone-copy-constructor-mutates-argument,
  -bugprone-default-operator-new-on-overaligned-type,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-copy-constructor-throws,
  -bugprone-exception-escape,
  -bugprone-float-loop-counter,
  -bugprone-forwarding-reference-overload,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-incorrect-enable-shared-from-this,
  -bugprone-narrowing-conversions,
  -bugprone-nondeterministic-pointer-iteration-order,
  -bugprone-not-null-terminated-result,
  -bugprone-random-generator-seed,
  -bugprone-raw-memory-call-on-non-trivial-type,
  -bugprone-std-namespace-modification,
  -bugprone-tagged-union-member-count,
  -bugprone-throwing-static-initialization,
  -bugprone-unchecked-string-to-number-conversion,
  -bugprone-unintended-char-ostream-output,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-capturing-lambda-coroutines,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-reference-coroutine-parameters,
  -cppcoreguidelines-c-copy-assignment-signature,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-interfaces-global-init,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-noexcept-destructor,
  -cppcoreguidelines-noexcept-move-operations,
  -cppcoreguidelines-noexcept-swap,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-slicing,
  -cppcoreguidelines-special-member-functions,

  llvm-namespace-comment,

  misc-*,
  -misc-anonymous-namespace-in-header,
  -misc-confusable-identifiers,
  -misc-coroutine-hostile-raii,
  -misc-misleading-bidirectional,
  -misc-misleading-identifier,
  -misc-multiple-inheritance,
  -misc-new-delete-overloads,
  -misc-no-recursion,
  -misc-non-copyable-objects,
  -misc-non-private-member-variables-in-classes,
  -misc-override-with-different-visibility,
  -misc-predictable-rand,
  -misc-unconventional-assign-operator,
  -misc-uniqueptr-reset-release,
  -misc-unused-parameters,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,

  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-avoid-c-style-cast,
  -modernize-avoid-setjmp-longjmp,
  -modernize-avoid-variadic-functions,
  -modernize-deprecated-ios-base-aliases,
  -modernize-loop-convert,
  -modernize-macro-to-enum,
  -modernize-min-max-use-initializer-list,
  -modernize-raw-string-literal,
  -modernize-redundant-void-arg,
  -modernize-replace-auto-ptr,
  -modernize-replace-disallow-copy-and-assign-macro,
  -modernize-replace-random-shuffle,
  -modernize-return-braced-init-list,
  -modernize-shrink-to-fit,
  -modernize-unary-static-assert,
  -modernize-use-auto,
  -modernize-use-bool-literals,
  -modernize-use-constraints,
  -modernize-use-default-member-init,
  -modernize-use-integer-sign-comparison,
  -modernize-use-noexcept,
  -modernize-use-nullptr,
  -modernize-use-std-format,
  -modernize-use-std-print,
  -modernize-use-trailing-return-type,
  -modernize-use-transparent-functors,
  -modernize-use-uncaught-exceptions,

  performance-*,
  -performance-avoid-endl,
  -performance-enum-size,
  -performance-inefficient-algorithm,
  -performance-inefficient-string-concatenation,
  -performance-no-int-to-ptr,
  -performance-noexcept-destructor,
  -performance-noexcept-move-constructor,
  -performance-noexcept-swap,
  -performance-type-promotion-in-math-fn,
  -performance-unnecessary-copy-initialization,
  -performance-unnecessary-value-param,

  readability-*,
  -readability-avoid-const-params-in-decls,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-container-data-pointer,
  -readability-delete-null-pointer,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-inconsistent-declaration-parameter-name,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-misplaced-array-index,
  -readability-named-parameter,
  -readability-operators-representation,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-redundant-control-flow,
  -readability-redundant-function-ptr-dereference,
  -readability-redundant-preprocessor,
  -readability-redundant-smartptr-get,
  -readability-redundant-string-cstr,
  -readability-simplify-subscript-expr,
  -readability-static-accessed-through-instance,
  -readability-string-compare,
  -readability-uniqueptr-delete-release,
  -readability-uppercase-literal-suffix,
  -readability-use-anyofallof,
  -readability-use-concise-preprocessor-directives
  "
# ---
# bugprone-narrowing-conversions,                      # This will break a lot of code but we should enable it in the future because it can eliminate a lot of bugs
# misc-override-with-different-visibility,             # Will be addressed in a future PR, but for now it generates too many warnings
# readability-inconsistent-declaration-parameter-name, # In this codebase this check will break a lot of arg names
# readability-static-accessed-through-instance,        # this check is probably unnecessary. It makes the code less readable
# ---

CheckOptions:
  bugprone-unsafe-functions.ReportMoreUnsafeFunctions: true
  bugprone-unused-return-value.CheckedReturnTypes: ::std::error_code;::std::error_condition;::std::errc

  misc-include-cleaner.IgnoreHeaders: ".*/(detail|impl)/.*;.*fwd\\.h(pp)?;time.h;stdlib.h;sqlite3.h;netinet/in\\.h;sys/resource\\.h;sys/sysinfo\\.h;linux/sysinfo\\.h;__chrono/.*;bits/.*;_abort\\.h;boost/uuid/uuid_hash.hpp;boost/beast/core/flat_buffer\\.hpp;boost/beast/http/field\\.hpp;boost/beast/http/dynamic_body\\.hpp;boost/beast/http/message\\.hpp;boost/beast/http/read\\.hpp;boost/beast/http/write\\.hpp;openssl/obj_mac\\.h"

  readability-braces-around-statements.ShortStatementLines: 2
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.ScopedEnumConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantPrefix: "k"
  readability-identifier-naming.GlobalVariableCase: CamelCase
  readability-identifier-naming.GlobalVariablePrefix: "g"
  readability-identifier-naming.ConstexprFunctionCase: camelBack
  readability-identifier-naming.ConstexprMethodCase: camelBack
  readability-identifier-naming.ClassMethodCase: camelBack
  readability-identifier-naming.ClassMemberCase: camelBack
  readability-identifier-naming.ClassConstantCase: CamelCase
  readability-identifier-naming.ClassConstantPrefix: "k"
  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-identifier-naming.StaticConstantPrefix: "k"
  readability-identifier-naming.StaticVariableCase: camelBack
  readability-identifier-naming.ConstexprVariableCase: camelBack
  readability-identifier-naming.LocalConstantCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberSuffix: _
  readability-identifier-naming.PublicMemberCase: camelBack
  readability-identifier-naming.PublicMemberSuffix: ""
  readability-identifier-naming.GlobalFunctionIgnoredRegexp: "^(to_string|hash_append|tuple_hash)$"

HeaderFilterRegex: '^.*/(tests?|xrpl|xrpld)/.*\.(h|hpp|ipp)$'
ExcludeHeaderFilterRegex: '^.*/protocol_autogen/.*\.(h|hpp)$'
WarningsAsErrors: "*"
