# .gitignore

bin/boostbook_catalog.xml
bin/config.log
bin/project-cache.jam

# Ignore vim swap files.
*.swp

# Ignore SCons support files.
.sconsign.dblite

# Ignore python compiled files.
*.pyc

# Ignore Macintosh Desktop Services Store files.
.DS_Store

# Ignore backup/temps
*~

# Ignore object files.
*.o
build
.build
.nih_c
tags
TAGS
GTAGS
GRTAGS
GPATH
bin/rippled
Debug/*.*
Release/*.*

# Ignore coverage files.
*.gcno
*.gcda
*.gcov

# Levelization checking
Builds/levelization/results/rawincludes.txt
Builds/levelization/results/paths.txt
Builds/levelization/results/includes/
Builds/levelization/results/includedby/

# Ignore tmp directory.
tmp

# Ignore database directory.
db/
db/*.db
db/*.db-*

# Ignore debug logs
debug_log.txt

# Ignore customized configs
rippled.cfg
validators.txt

# Doxygen generated documentation output
HtmlDocumentation
docs/html_doc

# Xcode user-specific project settings
# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

# Intel Parallel Studio 2013 XE
My Amplifier XE Results - RippleD

# Compiler intermediate output
/out.txt

# Build Log
rippled-build.log

# Profiling data
gmon.out

Builds/VisualStudio2015/*.db
Builds/VisualStudio2015/*.user
Builds/VisualStudio2015/*.opendb
Builds/VisualStudio2015/*.sdf

# MSVC
*.pdb
.vs/
CMakeSettings.json
compile_commands.json
.clangd
packages
pkg_out
