# .gitignore

# Macintosh Desktop Services Store files.
.DS_Store

# Build, intermediate, and temporary artifacts.
*~
*.o
*.pdb
*.swp
/.clangd
Debug/
Release/
/.build/
/build/
/db/
/out.txt
/Testing/
/tmp/
CMakeSettings.json
CMakeUserPresets.json

# Coverage files.
*.gcno
*.gcda
*.gcov

# Profiling data.
gmon.out

# Levelization data.
.github/scripts/levelization/results/*
!.github/scripts/levelization/results/loops.txt
!.github/scripts/levelization/results/ordering.txt

# Customized configs.
/rippled.cfg
/validators.txt

# Locally patched Conan recipes
external/conan-center-index/

# XCode IDE.
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
*.hmap

# JetBrains IDE.
/.idea/

# Microsoft Visual Studio IDE.
/.vs/
/.vscode/

# AI tools.
/.augment
/.claude
/CLAUDE.md
