[submodule "src/js/cryptojs"]
	path = src/js/cryptojs
	url = git://github.com/gwjjeff/cryptojs.git
[submodule "src/js/sjcl"]
	path = src/js/sjcl
	url = git://github.com/bitwiseshiftleft/sjcl.git
	ignore = dirty
[submodule "src/cpp/leveldb"]
	path = src/cpp/leveldb
	url = https://code.google.com/p/leveldb/
