sudo: false
language: cpp

env:
  global:
    - LLVM_VERSION=3.8.0
    # Maintenance note: to move to a new version
    # of boost, update both BOOST_ROOT and BOOST_URL.
    # Note that for simplicity, BOOST_ROOT's final
    # namepart must match the folder name internal
    # to boost's .tar.gz.
    - LCOV_ROOT=$HOME/lcov
    - BOOST_ROOT=$HOME/boost_1_60_0
    - BOOST_URL='http://downloads.sourceforge.net/project/boost/boost/1.60.0/boost_1_60_0.tar.gz?r=https%3A%2F%2Fsourceforge.net%2Fprojects%2Fboost%2Ffiles%2Fboost%2F1.60.0%2Fboost_1_60_0.tar.gz&ts=1460417589&use_mirror=netix'

packages: &gcc5_pkgs
  - gcc-5
  - g++-5
  - python-software-properties
  - protobuf-compiler
  - libprotobuf-dev
  - libssl-dev
  - libstdc++6
  - binutils-gold
  # Provides a backtrace if the unittests crash
  - gdb

matrix:
  include:
      # Default BUILD is scons. Default APP is rippled.

    - compiler: gcc
      env: GCC_VER=5 TARGET=debug.nounity
      addons: &ao_gcc5
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: *gcc5_pkgs

    - compiler: gcc
      env: GCC_VER=5 TARGET=coverage
      addons: *ao_gcc5

    - compiler: clang
      env: GCC_VER=5 TARGET=debug CLANG_VER=3.8 PATH=$PWD/llvm-$LLVM_VERSION/bin:$PATH
      addons: *ao_gcc5

    - compiler: clang
      env: GCC_VER=5 TARGET=debug.nounity CLANG_VER=3.8 PATH=$PWD/llvm-$LLVM_VERSION/bin:$PATH
      addons: *ao_gcc5

    - compiler: gcc
      env: GCC_VER=5 APP=signlibdemo BUILD=cmake TARGET=debug PATH=$PWD/cmake/bin:$PATH
      addons: *ao_gcc5

    # Experimental rippled cmake build.
    - compiler: gcc
      env: GCC_VER=5 BUILD=cmake TARGET=debug PATH=$PWD/cmake/bin:$PATH
      addons: *ao_gcc5

cache:
  directories:
  - $BOOST_ROOT
  - llvm-$LLVM_VERSION
  - cmake

before_install:
  - bin/ci/ubuntu/install-dependencies.sh

script:
  - bin/ci/ubuntu/build-and-test.sh

notifications:
  email:
    false
  irc:
    channels:
      - "chat.freenode.net#ripple-dev"
