sudo: false
language: cpp

env:
  global:
    # Maintenance note: to move to a new version
    # of boost, update both BOOST_ROOT and BOOST_URL.
    # Note that for simplicity, BOOST_ROOT's final
    # namepart must match the folder name internal
    # to boost's .tar.gz.
    - BOOST_ROOT=$HOME/boost_1_59_0
    - BOOST_URL='http://downloads.sourceforge.net/project/boost/boost/1.59.0/boost_1_59_0.tar.gz?r=http%3A%2F%2Fsourceforge.net%2Fprojects%2Fboost%2Ffiles%2Fboost%2F1.59.0%2Fboost_1_59_0.tar.gz%2Fdownload&ts=1441761349&use_mirror=skylineservers'
    - RIPPLED_OLD_GCC_ABI=1


packages: &gcc5_pkgs
  - gcc-5
  - g++-5
  - python-software-properties
  - protobuf-compiler
  - libprotobuf-dev
  - libssl-dev
  - libstdc++6
  - binutils-gold
  # Provides a backtrace if the unittests crash
  - gdb

packages: &gcc48_pkgs
  - gcc-4.8
  - g++-4.8
  - python-software-properties
  - protobuf-compiler
  - libprotobuf-dev
  - libssl-dev
  - libstdc++6
  - binutils-gold
  # Provides a backtrace if the unittests crash
  - gdb

matrix:
  include:
    - compiler: gcc
      env: GCC_VER=5 TARGET=debug.nounity
      addons: &ao_gcc5
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: *gcc5_pkgs

    - compiler: gcc
      env: GCC_VER=5 TARGET=coverage
      addons: *ao_gcc5

    - compiler: clang
      env: GCC_VER=4.8 TARGET=debug
      addons: &ao_gcc48
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: *gcc48_pkgs

    - compiler: clang
      env: GCC_VER=4.8 TARGET=debug.nounity
      addons: *ao_gcc48

    - compiler: gcc
      env: GCC_VER=4.8 TARGET=debug
      addons: *ao_gcc48

    - compiler: gcc
      env: GCC_VER=4.8 TARGET=debug.nounity
      addons: *ao_gcc48

cache:
  directories:
  - $BOOST_ROOT

before_install:
  - bin/ci/ubuntu/install-dependencies.sh

script:
  - bin/ci/ubuntu/build-and-test.sh

notifications:
  email:
    false
  irc:
    channels:
      - "chat.freenode.net#ripple-dev"
