#
# Sample newcoind.cfg
#
# This file is UTF-8 with Dos, UNIX, or Mac style end of lines.
# Blank lines and lines beginning with '#' are ignored.
# Undefined sections are reserved.
# No escapes are currently defined.
#
# To perform validation, one of these sections must be provided:
# [validation_key], [validation_password], or [validation_seed].
#
# [peer_ip]:
#   IP address or domain to bind to if allowing external connections from peers.
#
# [peer_port]:
#   Port to bind to if allowing external connections from peers.
#
# [rpc_ip]:
#   IP address or domain to bind to if allowing insecure RPC connections.
#
# [rpc_port]:
#   Port to bind to if allowing insecure RPC connections.
#
# [rpc_allow_remote]:
#   0 or 1. 0 only allows RPC connections from 127.0.0.1. [default 0]
#
# [validation_seed]:
#   This is the seed used to generate the validation public/private key pair.
#   This representation has a checksum and is the recommended form for transmission.
#
# [validation_password]:
#   This is the password used to generate the validation public/private key pair.
#   This representation is the form for providing a pass phrase.
#
# [validation_key]:
#   To perform validation, either this section or the [validation_password] section must be provided.
#   This representation is the form for human memorization (RFC 1751).
#   
#   Example:  RASH BUSH MILK LOOK BAD BRIM AVID GAFF BAIT ROT POD LOVE
#
[peer_ip]
0.0.0.0

[peer_port]
51235

[rpc_ip]
127.0.0.1

[rpc_port]
5005
