# -------------------------
# 1. Server settings
# -------------------------
[server]
port_rpc_admin_local
port_peer
port_ws_admin_local
port_ws_public

[port_rpc_admin_local]
port = 51234
ip = 127.0.0.1
admin = 127.0.0.1
protocol = http

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[port_ws_admin_local]
port = 6006
ip = 127.0.0.1
admin = 127.0.0.1
protocol = ws

[port_ws_public]
port = 6005
ip = 127.0.0.1
protocol = ws

[rpc_startup]
{ "command": "log_level", "severity": "debug" }

# -------------------------
# 2. Peer settings
# -------------------------
# ENABLE FOR TESTNET
[ips]
s.altnet.rippletest.net 51235

# -------------------------
# 3. Protocol settings
# -------------------------
[ledger_history]
256

[fetch_depth]
256

;[validator_token]
;eyJtYW5pZmVzdCI6IkpBQUFBQUZ4SWUxdFQrbVpjK2g0akY3bFpXaWdHRVZMOThmRlJ1VnJz
;K1hTa0ZOQ2dSV0daSE1oQW91ZnZrMUFtSjU3ZUQ5dUdIRmZjS3Qrd1FFUXRyUDJzcnBOTDR4
;MnJ3RjBka1l3UkFJZ1JOLzlndUZnUXh0UWRwYjNiSlFvQWk1VHY2WFRhRm5vd1ZKb2lvalJh
;eklDSUJ3S1FQRXE4UjB4anFWUnIxOTZXeFlxcm8wZWoyY2JSM0lqdGtnT2ZCMmFjQkpBdGpU
;Rkpzb2VRZU05ZlZjcnNBOGMxVVRzVWQxK0RJbXphck5JVFhIdHF2WkRhZWh6UHBqSTF1NjBG
;MEpiVnAvWGtiSXovNVFyNWFnek9xTkFOa1RXQWc9PSIsInZhbGlkYXRpb25fc2VjcmV0X2tl
;eSI6IjNBNURCMzczMTMxQ0E5QThGMjJDQzkxRTBGOUY2NEM2MjBGQzBCRUE2MUM1OEZFRkRC
;NThDRjIyMzc5ODg3RkIifQ==

[validator_list_sites]
# mainnet
#https://vl.ripple.com
#https://unl.xrplf.org
# testnet
https://vl.altnet.rippletest.net

[validator_list_keys]
# mainnet
# vl.ripple.com
#ED2677ABFFD1B33AC6FBC3062B71F1E8397C1505E1C42C64D11AD1B28FF73F4734
# unl.xrplf.org
#ED45D1840EE724BE327ABE9146503D5848EFD5F38B6D5FEDE71E80ACCE5E6E738B
# testnet
# vl.altnet.rippletest.net
ED264807102805220DA0F312E71FC2C69E1552C9C5790F6C25E3729DEB573D5860

[path_search]
7

[path_search_fast]
2

[path_search_max]
10

[workers]
6

[network_id]
#main
testnet

# -------------------------
# 4. HTTPS client settings
# -------------------------
[ssl_verify]
0

# -------------------------
# 5. Reporting mode settings
# -------------------------

# -------------------------
# 6. Database settings
# -------------------------
[node_db]
online_delete=512
advisory_delete=0
# NuDB
type=NuDB
path=tmp/nudb/data
# RocksDB
#type=RocksDB
#path=tmp/rocksdb/data
#open_files=1200
#filter_bits=12
#cache_mb=256
#file_size_mb=8
#file_size_mult=2
#fast_load=1

[database_path]
# NuDB
tmp/nudb/db
# RocksDB
#tmp/rocksdb/db

[sqlite]
page_size = 4096

# -------------------------
# 7. Diagnostics settings
# -------------------------
[debug_logfile]
/tmp/rippled/debug.log

[perf]
perf_log=/tmp/rippled/perf.log

[insight]
server=statsd
address=127.0.0.1:9125
prefix=rippled

# -------------------------
# 8. Voting settings
# -------------------------

# -------------------------
# 9. Misc settings
# -------------------------
[node_size]
small

[signing_support]
true
