#pragma once

#include <xrpl/protocol/STLedgerEntry.h>
#include <xrpl/protocol/STParsedJSON.h>
#include <xrpl/protocol/jss.h>
#include <xrpl/protocol_autogen/LedgerEntryBase.h>
#include <xrpl/protocol_autogen/LedgerEntryBuilderBase.h>
#include <xrpl/json/json_value.h>

#include <stdexcept>
#include <optional>

# cspell:words equalto

namespace xrpl::ledger_entries {

// Forward declaration
class {{ name }}Builder;

/**
 * Ledger Entry: {{ name }}
 * Type: {{ tag }} ({{ value }})
 * RPC Name: {{ rpc_name }}
 *
 * Immutable wrapper around SLE providing type-safe field access.
 * Use {{ name }}Builder to construct new ledger entries.
 */
class {{ name }} : public LedgerEntryBase
{
public:
    static constexpr LedgerEntryType entryType = {{ tag }};

    /**
     * Construct a {{ name }} ledger entry wrapper from an existing SLE object.
     * @throws std::runtime_error if the ledger entry type doesn't match.
     */
    explicit {{ name }}(SLE const& sle)
        : LedgerEntryBase(sle)
    {
        // Verify ledger entry type
        if (sle.getType() != entryType)
        {
            throw std::runtime_error("Invalid ledger entry type for {{ name }}");
        }
    }

    // Ledger entry-specific field getters
{%- for field in fields %}
{%- if field.typed %}

    /**
     * Get {{ field.name }} ({{ field.requirement }})
{%- if field.mpt_support %}
     * MPT Support: {{ field.mpt_support }}
{%- endif %}
     */
{%- if field.requirement == 'soeREQUIRED' %}
    [[nodiscard]]
    {{ field.typeData.return_type }}
    get{{ field.name[2:] }}() const
    {
        return this->sle_.{{ field.typeData.getter_method }}({{ field.name }});
    }
{%- else %}
    [[nodiscard]]
    {{ field.typeData.return_type_optional }}
    get{{ field.name[2:] }}() const
    {
        if (has{{ field.name[2:] }}())
            return this->sle_.{{ field.typeData.getter_method }}({{ field.name }});
        return std::nullopt;
    }

    [[nodiscard]]
    bool
    has{{ field.name[2:] }}() const
    {
        return this->sle_.isFieldPresent({{ field.name }});
    }
{%- endif %}
{%- else %}

    /**
     * Get {{ field.name }} ({{ field.requirement }})
{%- if field.mpt_support %}
     * MPT Support: {{ field.mpt_support }}
{%- endif %}
     * Note: This is an untyped field ({{ field.cppType }}).
     */
{%- if field.requirement == 'soeREQUIRED' %}
    [[nodiscard]]
    {{ field.typeData.return_type }}
    get{{ field.name[2:] }}() const
    {
        return this->sle_.{{ field.typeData.getter_method }}({{ field.name }});
    }
{%- else %}
    [[nodiscard]]
    {{ field.typeData.return_type_optional }}
    get{{ field.name[2:] }}() const
    {
        if (this->sle_.isFieldPresent({{ field.name }}))
            return this->sle_.{{ field.typeData.getter_method }}({{ field.name }});
        return std::nullopt;
    }

    [[nodiscard]]
    bool
    has{{ field.name[2:] }}() const
    {
        return this->sle_.isFieldPresent({{ field.name }});
    }
{%- endif %}
{%- endif %}
{%- endfor %}
};

/**
 * Builder for {{ name }} ledger entries.
 * Provides a fluent interface for constructing ledger entries with method chaining.
 * Uses Json::Value internally for flexible ledger entry construction.
 * Inherits common field setters from LedgerEntryBuilderBase.
 */
class {{ name }}Builder : public LedgerEntryBuilderBase<{{ name }}Builder>
{
{%- set required_fields = fields | selectattr('requirement', 'equalto', 'soeREQUIRED') | list %}
public:
    {{ name }}Builder({%- for field in required_fields %}
                {{ field.typeData.setter_type }} {{ field.paramName }}{% if not loop.last %},{% endif %}
                {%- endfor %})
        : LedgerEntryBuilderBase<{{ name }}Builder>({{ tag }})
    {
        {%- for field in required_fields %}
        set{{ field.name[2:] }}({{ field.paramName }});
        {%- endfor %}
    }

    {{ name }}Builder(SLE const& sle)
    {
        if (sle[sfLedgerEntryType] != {{ tag }})
        {
            throw std::runtime_error("Invalid ledger entry type for {{ name }}");
        }
        object_ = sle;
    }

    // Ledger entry-specific field setters
{%- for field in fields %}

    /**
     * Set {{ field.name }} ({{ field.requirement }})
{%- if field.mpt_support %}
     * MPT Support: {{ field.mpt_support }}
{%- endif %}
     * @return Reference to this builder for method chaining.
     */
    {{ name }}Builder&
    set{{ field.name[2:] }}({{ field.typeData.setter_type }} value)
    {
        {%- if field.stiSuffix == 'ISSUE' %}
        object_[{{ field.name }}] = STIssue({{ field.name }}, value);
        {%- elif field.typeData.setter_use_brackets %}
        object_[{{ field.name }}] = value;
        {%- else %}
        object_.{{ field.typeData.setter_method }}({{ field.name }}, value);
        {%- endif %}
        return *this;
    }
{%- endfor %}

    /**
     * Build and return the completed {{ name }} wrapper.
     * @return The constructed ledger entry wrapper.
     * @throws std::runtime_error if the JSON cannot be parsed into a valid ledger entry.
     */
    {{ name }}
    build(uint256 const& index)
    {
        return {{ name }}{SLE(object_, index)};
    }
};

}  // namespace xrpl::ledger_entries
