# wildcards
.deps
.dirstamp
*.la
.libs
*.lo
*.o
*_test
# specific files
/aclocal.m4
/autom4te.cache/
/benchmark
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/db_bench
/depcomp
/hyperleveldb.upack
/install-sh
/leveldbutil
/libhyperleveldb.pc
/libtool
/ltmain.sh
/m4/
/Makefile
/Makefile.in
/Makefile.old
/missing
/stamp-h1
