[submodule "extras/beast"]
	path = extras/beast
	url = https://github.com/vinniefalco/Beast.git
[submodule "extras/rocksdb"]
	path = extras/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "doc/docca"]
	path = doc/docca
	url = https://github.com/vinniefalco/docca.git
