name: Build and test rippled
on: [push, pull_request]

env:
  CMAKE_EXTRA_ARGS: "-Dwerr=ON -Dwextra=ON"
#   NINJA_BUILD: true
#   CACHE_DIR: ${{ env.GITHUB_WORKSPACE }}/_cache
#   NIH_CACHE_ROOT: ${{ env.CACHE_DIR }}/nih_c
#   PARALLEL_TESTS: true
#   USE_CCACHE: true
#   CCACHE_BASEDIR: ${{ env.GITHUB_WORKSPACE }}
#   CCACHE_NOHASHDIR: true
#   CCACHE_DIR: ${{ env.CACHE_DIR }}/ccache

jobs:
  job:
    name: gcc-8, debug
    runs-on: ubuntu-18.04
    # if: commit_message !~ /travis_run_/ OR commit_message =~ /travis_run_linux/
    container:
      image: docker://rippleci/rippled-ci-builder:2944b78d22db
    env:
      CC: gcc-8
      CXX: g++-8
      BUILD_TYPE: Debug
    steps:
      - name: checkout
        uses: actions/checkout@v2
#       - name: cache
#         uses: actions/cache@v2
#         env:
#           cache-name: linux-cache
#         with:
#           path: ${{ env.CACHE_DIR }}
#           key:  ${{ runner.os }}-build-${{ env.cache-name }}
      - name: dump-environment
        run: env
#       - name: cache stats before
#         run: ccache -s
      - name: build
        #run: bin/ci/ubuntu/build-in-docker.sh
        run: |
          mkdir build
          cd build
          cmake -DBoost_NO_BOOST_CMAKE=ON ..
          cmake --build . --target rippled --config ${{ env.BUILD_TYPE }} -j $( nproc )
      - name: test
        run: build/rippled --unittest --unittest-jobs=$( nproc )
#       - name: cache stats before
#         run: ccache -s
