name: Build and test rippled
on: [push, pull_request]

env:
  CMAKE_EXTRA_ARGS: "-Dwerr=ON -Dwextra=ON"
#   NINJA_BUILD: true
#   CACHE_DIR: ${{ env.GITHUB_WORKSPACE }}/_cache
#   NIH_CACHE_ROOT: ${{ env.CACHE_DIR }}/nih_c
#   PARALLEL_TESTS: true
#   USE_CCACHE: true
#   CCACHE_BASEDIR: ${{ env.GITHUB_WORKSPACE }}
#   CCACHE_NOHASHDIR: true
#   CCACHE_DIR: ${{ env.CACHE_DIR }}/ccache

jobs:
  job:
    name: Build and test rippled
    runs-on: ubuntu-18.04
    # if: commit_message !~ /travis_run_/ OR commit_message =~ /travis_run_linux/
    container:
      image: docker://rippleci/rippled-ci-builder:2944b78d22db
    strategy:
        matrix:
            CC: [ gcc-8, clang-8 ]
            BUILD_TYPE: [ Debug, Release ]
    env:
      CC: ${{ matrix.CC }}
      BUILD_TYPE: ${{ matrix.BUILD_TYPE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
#       - name: cache
#         uses: actions/cache@v2
#         env:
#           cache-name: linux-cache
#         with:
#           path: ${{ env.CACHE_DIR }}
#           key:  ${{ runner.os }}-build-${{ env.cache-name }}
      - name: Dump-environment
        run: |
          env
          set | grep =
#       - name: cache stats before
#         run: ccache -s
      - name: Configure
        shell: bash
        #run: bin/ci/ubuntu/build-in-docker.sh
        run: |
          echo "CC: ${CC}, CXX: ${CXX}"
          export CXX=${CC/gcc/g++}
          export CXX=${CXX/clang/clang++}
          echo "CC: ${CC}, CXX: ${CXX}"
          mkdir build
          cd build
          cmake -DBoost_NO_BOOST_CMAKE=ON ${{ env.CMAKE_EXTRA_ARGS }} ..
      - name: Build rippled
        #run: bin/ci/ubuntu/build-in-docker.sh
        run: |
          echo Building with $( nproc ) jobs
          cmake --build build --target rippled --config ${{ env.BUILD_TYPE }} -j $( nproc )
      - name: Run tests
        run: |
          echo Running $( nproc ) parallel tests
          build/rippled --unittest --unittest-jobs=$( nproc )
#       - name: cache stats before
#         run: ccache -s
